@inherits LayoutComponentBase

<div>
    <NavMenu/>
    
    <main>
        <article>
            @Body
        </article>
        
        <footer class="footer">
            <div class="footer-container">
                <div class="footer-column">
                    <h3>О нас</h3>
                    <p><a href="#">Доставка и обмен</a></p>
                    <p><a href="#">Возврат и обмен</a></p>
                </div>

                <div class="footer-column">
                    <h3>Контакты</h3>
                    <p>7(999) 158-99-99</p>
                    <p><a href="mailto:Mono@gmail.com">Mono@gmail.com</a></p>
                </div>

                <div class="footer-column">
                    <h3>Мы в сети</h3>
                    <div class="social-icons">
                        <a href="#"><img src="Img/Telegram.png" alt="Telegram"></a>
                        <a href="#"><img src="Img/Vk.png" alt="VK"></a>
                        <a href="#"><img src="Img/Tik_tok.png" alt="TikTok"></a>
                    </div>
                </div>
            </div>

            <div class="footer-bottom">
                <p>© 2025 MONO все права защищены</p>
                <a href="#">политика конфиденциальности</a>
            </div>
        </footer>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>