@page "/AdminFeedbacks"

<div class="d-flex">
<div id="sidebar" class="bg-sidebar">
    <ul class="list-unstyled">
        <li><a href="#" class="text-decoration-none p-3 d-block">Логин</a></li>
        <li><a href="http://localhost:5174/adminFeedbacks" class="text-decoration-none p-3 d-block">Административная панель</a></li>
        <li><a href="http://localhost:5174/adminProducts" class="text-decoration-none p-3 d-block">Товары</a></li>
        <li><a href="http://localhost:5174/adminCategories" class="text-decoration-none p-3 d-block">Категории</a></li>
        <li><a href="http://localhost:5174/adminOrders" class="text-decoration-none p-3 d-block">Заказы</a></li>
        <li><a href="http://localhost:5174/adminUsers" class="text-decoration-none p-3 d-block">Пользователи</a></li>
        <li><a href="#" class="text-decoration-none p-3 d-block">Аналитика</a></li>
    </ul>
</div>
</div>
@code {
    
}