@page "/AdminOrders"
<div class="d-flex">
    <div id="sidebar" class="bg-light slider">
        <ul class="list-unstyled">
            <li><a href="#" class="text-decoration-none">Логин</a></li>
            <li><a href="http://localhost:5174/adminFeedbacks" class="text-decoration-none">Административная панель</a></li>
            <li><a href="http://localhost:5174/adminProducts" class="text-decoration-none">Товары</a></li>
            <li><a href="http://localhost:5174/adminCategories" class="text-decoration-none">Категории</a></li>
            <li><a href="http://localhost:5174/adminOrders" class="text-decoration-none">Заказы</a></li>
            <li><a href="http://localhost:5174/adminUsers" class="text-decoration-none">Пользователи</a></li>
        </ul>
    </div>

   
    <div class="Cothing">
        <div class="heading">
            <p>Категории</p>
        </div>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th>Пользователь</th>
                    <th>ID товар</th>
                    <th>Оплата</th>
                    <th>Сумма</th>
                    <th>Статус</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input class="tableOrders" type="text" placeholder="Логин"/></td>
                    <td><input class="tableOrders" type="text" placeholder="ID товара"/></td>
                    <td><input class="tableOrders" type="text" placeholder="Оплата"/></td>
                    <td><input class="tableOrders" type="text" placeholder="сколько стоит?"/></td>
                    <td><button class="buttonOrders">Оформлен</button></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
@code {

    

}