@page "/"

<div class="homeWeb">
    <div class="menuWeb">
        <div class="shadow-def">
            <h1>Новая коллекция</h1>
        </div>
        <button class="button-radius-white">Смотреть</button>
        @*img src="Img/NewCollection.png"/>*@
    </div>
    <div class="menuText">
        <h1>Категории</h1>
    </div>
    <div class="asd">
        <div class="background-jaket">
            <h1>Для</h1>
            <h1>мужчин</h1>
        </div>
        <div class="background-women">
            <h1>Для</h1>
            <h1>женщин</h1>
        </div>
    </div>
    <div class="background-belt">
        <h1>АКСЕССУАРЫ</h1>
    </div>
    <div class="menuText">
        <h1>Популярный товары</h1>
    </div>
        <div class="item">
            <div class="background-belt2" style="position: relative;">
                <div class="label">хит</div>
            </div>
            <div class="product-info">
                <div>РЕМЕНЬ С ЗОЛОТОЙ ПРЯЖКОЙ</div>
                <div class="price">999₽</div>
            </div>
        </div>
        <!-- Вторая карточка -->
        <div class="item">
            <div class="background-bag" style="position: relative;">
                <div class="label">хит</div>
            </div>
            <div class="product-info">
                <div>СУМКА КЛАССИЧЕСКАЯ</div>
                <div class="price">1199₽</div>  
            </div>
        </div>
        <!-- Третья карточка -->
        <div class="item">
            <div class="background-top" style="position: relative;">
                <div class="label">хит</div>
            </div>
            <div class="product-info">
                <div>ТОП</div>
                <div class="price">1399₽</div>
            </div>
        </div>
        <!-- Четвертая карточка -->
        <div class="item">
            <div class="background-t-shirt" style="position: relative;">
                <div class="label">хит</div>
            </div>
            <div class="product-info">
                <div>ФУТБОЛКА С ПРИНТОМ</div>
                <div class="price">1299₽</div>
            </div>
        </div>
    
    <div class="endWeb">
    </div>
</div>