@page "/"

<div class="homeWeb">
    <div class="menuWeb">
        <div class="shadow-def">
            <h1>Новая коллекция</h1>
        </div>
        <button class="button-radius-white">Смотреть</button>
    </div>

    <div class="menuText">
        <h1>Категории</h1>
    </div>
    <div class="categories">
        <div class="row">
            <div class="background-jaket">
                <h1>Для мужчин</h1>
            </div>
            <div class="background-women">
                <h1>Для женщин</h1>
            </div>
        </div>
        <div class="row">
            <div class="background-belt">
                <h1>Аксессуары</h1>
            </div>
        </div>
    </div>

    <div class="menuText">
        <h1>Популярные товары</h1>
    </div>

    <div class="products">
        <div class="item">
            <div class="background-belt2">
                <div class="label">Хит</div>
            </div>
            <div class="product-info">
                <div>РЕМЕНЬ С ЗОЛОТОЙ ПРЯЖКОЙ</div>
                <div class="price">999₽</div>
            </div>
        </div>

        <div class="item">
            <div class="background-bag">
                <div class="label">Хит</div>
            </div>
            <div class="product-info">
                <div>СУМКА КЛАССИЧЕСКАЯ</div>
                <div class="price">1199₽</div>
            </div>
        </div>

        <div class="item">
            <div class="background-top">
                <div class="label">Хит</div>
            </div>
            <div class="product-info">
                <div>ТОП</div>
                <div class="price">1399₽</div>
            </div>
        </div>

        <div class="item">
            <div class="background-t-shirt">
                <div class="label">Хит</div>
            </div>
            <div class="product-info">
                <div>ФУТБОЛКА С ПРИНТОМ</div>
                <div class="price">1299₽</div>
            </div>
        </div>
    </div>

    <div class="sale-banner">
        <img src="Img/Sell.png"/>
    </div>
</div>
