@page "/Registration"
@using DataBase
@using Models.DAL
@rendermode InteractiveServer
@inject ApplicationDbContext Ef
<h3>Registration</h3>

@code {
    private User _user = new();
    
    private string _email { get; set; }
    private string _phoneNumber { get; set; }
    private string _login { get; set; }
    
    private void AddUser()
    {
        Ef.Users.Add(_user);
        Ef.SaveChanges();
        _user = new User();
    }
}